.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.products-center {
  width: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  column-gap: 3rem;
  row-gap: 3.5rem;
}
.filterBox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.selectFilter{
  padding: .5rem 1.5rem;
  border-radius: 1em;
  cursor: pointer;
  font-size: 1rem;
}
.selectFilter:hover{
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}
