.edit-product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.Link {
  margin-left: 25px;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--primaryColor);
  font-weight: 600;
  border: 2px solid var(--mainGray);
  border-radius: 10px;
}

.edit-product-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.form-control input {
  display: grid;
  padding: 0.3rem;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--mainGray);
  font: inherit;
  color: var(--mainBlack);
  outline: none;
}

.form-btn {
  margin-left: 1rem;
  padding: 0.5rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--mainGray);
  font: inherit;
  font-weight: bold;
  color: var(--primaryColor);
  outline: none;
  cursor: pointer;
}

.edit-box {
  margin-top: 100px;
  width: 600px;
  height: 500px;
  position: absolute;
  left: 32%;
  border: 1px solid;
  background-color: var(--secondaryColor);
  -webkit-box-shadow: 10px 0 0 #f0f0f0, 20px 0 0 #000, 30px 0 0 #f0f0f0,
    0 10px 0 #f0f0f0, 10px 10px 0 #000, 20px 10px 0 #f0f0f0, 30px 10px 0 #000,
    0 20px 0 #000, 10px 20px 0 #f0f0f0, 20px 20px 0 #000, 30px 20px 0 #f0f0f0,
    0 30px 0 #f0f0f0, 10px 30px 0 #000, 20px 30px 0 #f0f0f0, 30px 30px 0 #000,
    5px 5px 15px 5px rgba(249, 194, 255, 0);
  box-shadow: 10px 0 0 #f0f0f0, 20px 0 0 #000, 30px 0 0 #f0f0f0,
    0 10px 0 #f0f0f0, 10px 10px 0 #000, 20px 10px 0 #f0f0f0, 30px 10px 0 #000,
    0 20px 0 #000, 10px 20px 0 #f0f0f0, 20px 20px 0 #000, 30px 20px 0 #f0f0f0,
    0 30px 0 #f0f0f0, 10px 30px 0 #000, 20px 30px 0 #f0f0f0, 30px 30px 0 #000,
    5px 5px 15px 5px rgba(249, 194, 255, 0);
}

@media screen and (min-width: 200px) and (max-width: 1050px) {
  .edit-box {
    width: 50%;
  }
}
