.btn {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    padding: 5px 20px;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
  }
  