.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.not-found h2{
    margin: 30px;
}
.not-found-link{
    text-decoration: none;
    color: rgb(149, 47, 158);
    font-size: 24px;
    border: 1px solid rgb(8, 107, 82);
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
}
.not-found-img{
    width: 500px;
    height: 350px;
    margin-bottom: 20px;
}