.navbar {
  background-color: var(--secondaryColor);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.navbar-center {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav-icon {
  cursor: pointer;
  color: var(--primaryColor);
}
.nav-title {
  color: var(--mainBlack);
}
.nav-shop-icon {
  position: relative;
  color: var(--primaryColor);
  cursor: pointer;
}
.nav-shop-icon i,
.nav-icon i {
  font-size: 1.5rem;
}
.nav-shop-item {
  position: absolute;
  background-color: var(--mainRed);
  color: var(--mainWhite);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -8px;
  right: -8px;
  font-size: 0.75rem;
}

