.shopingCard {
  display: none;
}
.navbar span:hover .shopingCard {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  background-color: var(--secondaryColor);
  padding: 20px;
  min-height: 400px;
  /* max-height: 400px;
  overflow: scroll; */
  min-width: 300px;
}
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.table tr{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.table th, td{
    display: inline-block;
    margin: 10px 10px 0 10px;
    flex-grow: 1;
    padding-bottom: 20px;
  }
.table thead {
  border-bottom: 1px solid #bbb;
}
.title{
  text-align: left;
}
.price{
  text-align: center;
}
.qty{
  text-align: right;
}
.card-btn {
    margin: auto;
    display: inline-block;
    width: 100%;
    height: 38px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: var(--mainSpacing);
    text-transform:capitalize;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    color: var(--primary);
    border: 1px solid #bbb;
    border-radius: 4px;
    cursor: pointer;
}
.table{
  border-collapse: collapse;
  width: 100%;
}

.table tr:nth-child(even){background-color: #EFEFEF;color: #222;}
.table tr:nth-child(odd){background-color: #E5E5E5;color: #222;}
/* .table tbody tr:last-child{border-radius: 0 0 15px 15px;} */
.table thead tr:last-child{border-radius: 15px 15px 0 0;}
