.footer{
    background-color: var(--secondaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1.5rem 0 0 0;
}
.footer-center{
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-header{
    color: var(--primaryColor);
    margin-top: 1rem;
}
.footer-desc{
    margin: 1.5rem;
    color: var(--footerColor);
}
.footer-icons{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 1rem;
}
.footer-icons a{
    color: var(--footerColor);
    cursor: pointer;
    padding: 0 1rem;
    font-size: 2rem;
}
.fa-brands:hover{
    color: var(--primaryColor);
}