.product-card {
  background-color: var(--mainWhite);
  padding-bottom: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 23px -1px rgba(60,36,255,0.5);
}
.product-img {
  width: 100%;
  min-height: 120px;
  height: 80%;
  object-fit: scale-down;
  border-radius: 8px 8px 0 0;
  border-bottom: .5px solid rgba(204, 198, 250, 0.5);
}
.product-desc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}
