* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGray: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransiton: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
  --footerColor: rgb(55, 67, 77)
}
body {
  color: var(--mainBlack);
  background-color: var(--mainWhite);
  font-family: "Lato", sans-serif;
  background-color: var(--bodyColor);
  position: relative;
}
